* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --secondary-color: #ffdf39;
    --primary-color: #26704f;
}

.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: aliceblue;
}

/* navbar */

header{
    background-color: var(--primary-color);
}

.navbar {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_img {
    height: 2.25rem;
}

.nav_ul {
    display: flex;
    list-style: none;
}

.nav_li {
    padding: 1rem 1.25rem;
}

.nav_li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.sidebar{
   position: fixed;
   top:0;
   right: 0;
   height: 100vh;
   width: 250px;
   z-index: 999;
   background-color: blue(10px);
   background-color: white;
   box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
   display: none;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}

.sidebar li{
    width: 100%
    
}

/*Hero */
.hero-sec {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
}

.hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroLogo-img {
    height: 5.9rem;
    margin-bottom: 2rem 4rem;
    margin-right: 0rem 4rem;
}


.hero-heading {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0rem 7rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/*icon*/
.contact-icon {
    margin: 0.75rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white-color);
    border: 0.2rem solid var(--white-color);
    border-radius: 6.9rem;
    padding: 1rem;
    text-transform: uppercase;
}

.contact-icon {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.contact-icon:hover {
    background-color: var(--secondary-color);
    border-radius: 2rem 2rem;
    transition: all ease 0.3s;
    color: white;
    cursor: pointer;

}

.contact-head {
    font-size: 2.5rem;
    margin: 1rem;
}

.contact-div {
    color: #111;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 35rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*contact from */
.contact-form {
    display: flex;
    flex-direction: column;
}

.desc {
    /* height: 10rem; */
    width: 10rem;
    size: 90;
}

.form-input {
    font-size: 1.5rem;
    border: 0.1rem solid;
    border-color: var(--primary-color);
    padding: 1rem 0.5rem;
    margin: 0.5rem 0rem;
    border-radius: 1.5rem;
    width: 35rem;
}


.contact-head {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}

/*submit*/
.submit-btn {
    background-color: var(--secondary-color);
    border-radius: 5rem;
    font-size: 1.6rem;
    padding: 1.5rem;
    width: 25rem;
    cursor: pointer;
    margin: 1rem 0;
}

.submit-btn:hover {
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    box-shadow: 0 0 80px 30px rgba(212, 224, 22, 0.3);
    transition: 0.5s ease;
}

/* services part */
.services {
    background-color: rgb(0, 0, 0);
    height: 110vh;
}

.services-data {
    margin: 0rem 4rem;
    padding: 1.6rem .5rem;

}

.services-h2 h2 {
    font-family: "DM Serif Display", serif;
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    margin-top: 4.5rem;
    margin-left: 12.5rem;
    text-transform: uppercase;
}

.services-h2 p {
    font-size: 2.9rem;
    font-weight: 100;
    margin-top: 1rem;
    padding-left: 3rem;
}

@media only screen and (max-width: 600px) {
    .logo_img {
        height: 1.75rem;
    }

    .nav_li a {
        font-size: 1rem;
    }

    .hero-sec {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }

    .contact-div {
        margin-top: 3rem;
    }

    .nav_li {
        font-size: 1.25rem;
        padding: 0.35rem 0.45rem;
    }

    .form-input {
        width: 23rem;
        padding: 0.75rem 0.25;
    }

    .submit-btn {
        font-size: 1.3rem;
        padding: 1.25rem;
        width: 20rem;
    }

    .services-h2 h2 {
        font-size: 2.5rem;
        margin-top: 12rem;
        margin-left: 4rem;
    }

    .services-h2 p {
        font-size: 1.75rem;
        margin-top: 1rem;
        padding-left: 3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}