* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #26704f;
    --white-color: ;
}

.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--primary-color);
    color: aliceblue;
}
/* navbar */
.navbar {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_img {
    height: 2.25rem;
}

.nav_ul {
    display: flex;
    list-style: none;
}

.nav_li {
    font-size: 1.25rem;
    padding: 1rem 1.25rem;
}

.nav_li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3rem;
    text-transform: uppercase;
}
/*Hero */
.hero-sec {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroLogo-img {
    height: 5.9rem;
    margin-bottom: 2rem 4rem;
    margin-right: 0rem 4rem;
}


.hero-heading {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0rem 7rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
/*icon*/
.contact-icon {
    margin: 0.75rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white-color);
    border: 0.2rem solid var(--white-color);
    border-radius: 6.9rem;
    padding: 1rem;
    text-transform: uppercase;
}

.contact-icon {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.contact-icon:hover {
    background-color: #ffdf39;
    border-radius: 2rem 2rem;
    transition: all ease 0.3s;
    color: white;
    cursor: pointer;

}

.contact-head {
    font-size: 2.5rem;
    margin: 1rem;
}

.contact-div {
    color: #111;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 35rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*contact from */
.contact-form {
    display: flex;
    flex-direction: column;
}

.desc {
    height: 10rem;

}

.form-input {
    font-size: 1.5rem;
    border: 0.1rem solid;
    border-color: var(--primary-color);
    padding: 1rem 0.5rem;
    margin: 0.5rem 0rem;
    border-radius: 1.5rem;
    width: 35rem;
}

 /*.form-input:hover{
    background-color: #ffdf39;
    transition: all ease 0.2s;
} */

.contact-head {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}
/*submit*/
.submit-btn {
    background-color: #245ccc;
    border-radius: 5rem;
    font-size: 1.6rem;
    padding: 1.5rem;
    width: 25rem;
    cursor: pointer;
    margin: 1rem 0;

}

/* services part */
.services {
    background-color: rgb(0, 0, 0);
    height: 100vh;


}

.services-data {
    margin: 4rem 4rem;
    padding: 16rem .5rem;
    margin-top: 8.5rem;
    
}

.services-h2 h2 {
    font-size: 38.5px;
    font-weight: 500%;
    justify-self: unset;

    margin-top: 6.5rem;
    margin-left: 12.5rem;
    text-transform: uppercase;

}

.services-h2 h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: norma;
}

.services-h2 p {
    font-size: 29px;
    font-weight: 100%;
    margin-top: 1rem;
    padding-left: 3rem;
}