* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;

}

.wrapper.button:hover {
    width: 200px;

}

.wrapper.button.icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper.button:nth-child(1):hover.icon {
    background: #fff;


}

.wrapper.button:nth-child(2):hover.icon {
    background: #fff;


}

.wrapper.button:nth-child(3):hover.icon {
    background: #fff;


}

.wrapper.button:nth-child(4):hover.icon {
    background: #fff;


}

.wrapper.button:nth-child(5):hover.icon {
    background: #fff;


}

.wrapper.button.icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;

}

.wrapper.button:hover .icon i {
    color: aqua;

}

.wrapper.button span {
    font-size: 20px;
    font-weight: 500;
}