* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #26704f;
    color: aliceblue;
}

.navbar {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_img {
    height: 2.25rem;
}

.nav_ul {
    display: flex;
    list-style: none;
}

.nav_li {
    font-size: 1.25rem;
    padding: 1rem 1.25rem;
}

.nav_li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.hero-sec {
    height: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heroLogo-img {
    height: 5.9rem;
    margin-bottom: 2rem 4rem;
    margin-right: 0rem 4rem;
}

.hero-heading {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.contact-div {
    color: #111;
    background-color: white;
    
}