* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #26704f;
    --white-color: ;
}

.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--primary-color);
    color: aliceblue;
}

.navbar {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_img {
    height: 2.25rem;
}

.nav_ul {
    display: flex;
    list-style: none;
}

.nav_li {
    font-size: 1.25rem;
    padding: 1rem 1.25rem;
}

.nav_li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.hero-sec {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroLogo-img {
    height: 5.9rem;
    margin-bottom: 2rem 4rem;
    margin-right: 0rem 4rem;
}


.hero-heading {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0rem 7rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.contact-icon {
    margin: 0.75rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white-color);
    border: 0.2rem solid var(--white-color);
    border-radius: 10rem;
    padding: 1rem;
    text-transform: uppercase;
}

.contact-head {
    font-size: 2.5rem;
    margin: 1rem;
}

.contact-div {
    color: #111;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 35rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.desc {
    height: 10rem;

}

.form-input {
    font-size: 1.5rem;
    border: 0.1rem solid;
    border-color: var(--primary-color);
    padding: 1rem 0.5rem;
    margin: 0.5rem 0rem;
    border-radius: 1.5rem;
    width: 35rem;
}

.submit-btn {
    background-color: #245ccc;
    border-radius: 5rem;
    font-size: 1.6rem;
    padding: 1.5rem;
    width: 25rem;
    cursor: pointer;
    margin: 1rem 0;

}

/* services part */
.services {
    background-color: white;
    height: 60vh;

}